//! **************************************************************************
// Written by: Map P.15xf on Mon Jul 18 12:47:33 2016
//! **************************************************************************

SCHEMATIC START;
NET
        "mcs_0/U0/microblaze_I/MicroBlaze_Core_I/Area.Data_Flow_I/PC_Module_I/Using_FPGA.pc_write_I"
        USELOWSKEWLINES;
COMP "UART_Rx" LOCATE = SITE "N17" LEVEL 1;
COMP "UART_Tx" LOCATE = SITE "N18" LEVEL 1;
COMP "cam_reset" LOCATE = SITE "K3" LEVEL 1;
COMP "anodes<0>" LOCATE = SITE "N16" LEVEL 1;
COMP "anodes<1>" LOCATE = SITE "N15" LEVEL 1;
COMP "anodes<2>" LOCATE = SITE "P18" LEVEL 1;
COMP "anodes<3>" LOCATE = SITE "P17" LEVEL 1;
COMP "cam_sysclk" LOCATE = SITE "K5" LEVEL 1;
COMP "cam_rst" LOCATE = SITE "C4" LEVEL 1;
COMP "reset" LOCATE = SITE "B8" LEVEL 1;
COMP "trigger" LOCATE = SITE "D9" LEVEL 1;
COMP "mcs_reset" LOCATE = SITE "A8" LEVEL 1;
COMP "SW_cam_oe" LOCATE = SITE "T10" LEVEL 1;
COMP "LOCKED" LOCATE = SITE "T11" LEVEL 1;
COMP "FIFO_DATA<0>" LOCATE = SITE "E11" LEVEL 1;
COMP "FIFO_DATA<1>" LOCATE = SITE "F11" LEVEL 1;
COMP "FIFO_DATA<2>" LOCATE = SITE "F10" LEVEL 1;
COMP "FIFO_DATA<3>" LOCATE = SITE "G11" LEVEL 1;
COMP "FIFO_DATA<4>" LOCATE = SITE "E12" LEVEL 1;
COMP "FIFO_DATA<5>" LOCATE = SITE "F12" LEVEL 1;
COMP "FIFO_DATA<6>" LOCATE = SITE "C12" LEVEL 1;
COMP "FIFO_DATA<7>" LOCATE = SITE "D12" LEVEL 1;
COMP "cam_trigger" LOCATE = SITE "K2" LEVEL 1;
COMP "i2c_ready" LOCATE = SITE "U16" LEVEL 1;
COMP "cam_LV" LOCATE = SITE "L4" LEVEL 1;
COMP "cam_oe" LOCATE = SITE "J1" LEVEL 1;
COMP "FIFO_RRST" LOCATE = SITE "L7" LEVEL 1;
COMP "cathodes<0>" LOCATE = SITE "L14" LEVEL 1;
COMP "cathodes<1>" LOCATE = SITE "N14" LEVEL 1;
COMP "cathodes<2>" LOCATE = SITE "M14" LEVEL 1;
COMP "cathodes<3>" LOCATE = SITE "U18" LEVEL 1;
COMP "cathodes<4>" LOCATE = SITE "U17" LEVEL 1;
COMP "cathodes<5>" LOCATE = SITE "T18" LEVEL 1;
COMP "cathodes<6>" LOCATE = SITE "T17" LEVEL 1;
COMP "sysclk" LOCATE = SITE "V10" LEVEL 1;
COMP "FIFO_RCK" LOCATE = SITE "H3" LEVEL 1;
COMP "MICRO_LED" LOCATE = SITE "V16" LEVEL 1;
COMP "FIFO_OE" LOCATE = SITE "K6" LEVEL 1;
COMP "FIFO_WE" LOCATE = SITE "J3" LEVEL 1;
COMP "MICRO_SW" LOCATE = SITE "T9" LEVEL 1;
NET "CLK_24MHz/clkin1" PERIOD = 10 ns HIGH 50%;
SCHEMATIC END;

