NET "sysclk" LOC = V10; #Nexys3 100MHz fpga_clk
NET "sysclk" PERIOD = 10ns HIGH 50%;

#Nexys3 Buttons and Switches
NET "reset" LOC = B8; 	#Nexys3 Center button
NET "cam_rst" LOC = C4; #Nexys3 left button
NET "trigger" LOC = D9; #Nexys3 Right button
NET "fifo_rst" LOC = C9; #Nexys3 Bottom Button
NET "SW_cam_oe" LOC = T10; //sw1
NET "SW_read_fifo" LOC = T9;
NET "LOCKED" LOC = T11; #Nexys3 LED7
NET "i2c_ready" LOC = U16; // LED0


# Outputs to camera module
NET "cam_trigger" LOC = K2;  #PmodB1
NET "cam_sysclk" LOC = K5; #PmodB10
NET "cam_reset" LOC = K3; #PmodB9
NET "cam_oe" LOC = J1;
NET "cam_LV" LOC = L4;


# I/O to FIFO
NET "FIFO_WE" LOC = J3;
NET "FIFO_OE" LOC = K6;
NET "FIFO_RRST" LOC = L7;
NET "FIFO_RCK" LOC = H3;
NET "FIFO_DATA[0]" LOC = E11;
NET "FIFO_DATA[1]" LOC = F11;
NET "FIFO_DATA[2]" LOC = F10;
NET "FIFO_DATA[3]" LOC = G11;
NET "FIFO_DATA[4]" LOC = E12;
NET "FIFO_DATA[5]" LOC = F12;
NET "FIFO_DATA[6]" LOC = C12;
NET "FIFO_DATA[7]" LOC = D12;

#VGA port
NET "HS" LOC = N6;
NET "VS" LOC = P7;
NET "blank" LOC = U15;
NET "rgb[0]" LOC = U7; #r
NET "rgb[1]" LOC = V7; #r
NET "rgb[2]" LOC = N7; #r
NET "rgb[3]" LOC = P8; #g
NET "rgb[4]" LOC = T6; #g
NET "rgb[5]" LOC = V6; #g
NET "rgb[6]" LOC = R7; #b
NET "rgb[7]" LOC = T7; #b

# seven segment display
NET "cathodes[0]" LOC = L14;
NET "cathodes[1]" LOC = N14;
NET "cathodes[2]" LOC = M14;
NET "cathodes[3]" LOC = U18;
NET "cathodes[4]" LOC = U17;
NET "cathodes[5]" LOC = T18;
NET "cathodes[6]" LOC = T17;
NET "anodes[0]" LOC = N16;
NET "anodes[1]" LOC = N15;
NET "anodes[2]" LOC = P18;
NET "anodes[3]" LOC = P17;